{% extends 'registration/registration-base.html' %} 
{% block title %}
    <title>Login</title>
{% endblock %} 
{% block body %}
    <main class="main-content">
        <div class="main-content-Element">
            <img src="{{ url_for('static',filename='img/LOGIN.png') }}" alt="login"  class="mainContent-logo"/>
        </div>
        <div class="main-content-Element">
            <form class="nes-field form-wrapper"> 
                <div class="form-Element">
                    <label for="name_field">メールアドレス</label>
                    <input type="email" name="mail" id="name_field" class="nes-input">
                </div>
                <div class="form-Element">
                    <label for="password_field">パスワード</label>
                    <input type="password" name="password" id="password_field" class="nes-input">
                </div>
                <div class="form-Element button">
                    <a class="nes-btn" href="{{ url_for('signup') }}">新規会員登録</a>
                    <button type="submit" class="nes-btn is-success">ログイン</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}