<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>cssの反映確認ページ</title>

    <!--  スタイルシートの反映 -->
    <link href="../Static/css/base.css" rel="stylesheet" />

    <!-- Googleフォントの反映 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

  </head>
  <body>
    <!--  段階の見出し -->
    <h1>メインタイトル</h1>
    <h2>最上位の見出し</h2>
    <h3>小見出し</h3>
    <h4>孫見出し</h4>

    <!--  pタグ -->
    <p>ただのpタグ</p>

    <!--  リスト -->
    <ul>
        <li>リスト要素１</li>
        <li>リスト要素２</li>
        <li>リスト要素３</li>
    </ul>

    <!--  リンク -->
    <a href="https://www.google.co.jp">
        Google
    </a>


    <img src="images/firefox-icon.png" alt="テスト画像" />
  </body>
</html>